.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #444;
    color: white;
}
.mainHeader {
    background-color: #444;
    color: white;
    height:40px;
    margin-bottom:10px;
}
.brand {
    font-style: italic;
    font-weight: bold;
    color: lightgray;
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 1.3em;
}
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}



@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.notificationHeader {
    text-align: right;
    position: absolute;
    top: 8px;
    right: 6px;
}

.deviceContent {    
   
}
    .deviceContent div {
        
    }


.deviceTrigger{
    width:100%;
    height:100px;
    margin-bottom:13px;
}

    .deviceTrigger .location {
        position: absolute;
        left: 22px;
        top: 3px;
        font-style: italic;
        font-weight: bold;
        color:lightgray;
    }

    .deviceTrigger.Bedroom .location {        
        color: yellowgreen;
    }

    .deviceTrigger.Bathroom .location {
        color: dodgerblue;
    }

    .deviceTrigger.Living-room .location {
        color: indianred;
    }

    .deviceTrigger.Kitchen .location {
        color: darkkhaki;
    }

    .deviceTrigger.Gradina .location {
        color: green;
    }

    .deviceTrigger .content {
        margin-top: 35px;
    }

    .deviceTrigger .timeStamp {
        position: absolute;
        right: 20px;
        bottom: 15px;
        
    }

.deviceTrigger.btn-default .timeStamp {
    color: darkgray;
}

    .deviceTrigger.btn-success .timeStamp {
        color: #e4e4e4;
    }

    